// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tasks {
	text-align: center;
}

#tasks table {
	display: inline-table;
	margin: 1em 0em;
}

#tasks td {
	padding: 0.25em 0.5em;
	font-family: serif;
	font-size: 1em;
}

#tasks td:nth-child(1), #tasks td:nth-child(2) {
	text-align: left;
}

#tasks tbody tr:nth-child(odd) {
	background-color: rgba(255,255,255,0.1);
}

#tasks tbody tr:nth-child(even) {
	background-color: rgba(255,255,255,0.2);
}

#tasks tr:first-child {
	background-color: rgba(0,255,255,0.2);
}

#tasks thead tr:first-child > th, #tasks h5 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.12em;
}

#tasks .collapsible-body span {
	font-size: 1.75em;
	padding: 0em 0.5em;
}

.navbar-fixed {
	position: fixed;
	left: 0px;
	top: 0px;
}